@model IEnumerable<BrandsCardViewModel>
@{
	ViewData["Title"] = "Всички вериги заведения";
}
<h1>@ViewData["Title"]</h1>
<hr />
<table>
    <thead>
        <tr>
            <th>Brand Name</th>
            <th>Logo</th>
            <th>Website</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var brand in Model)
        {
            <tr>
                <td>@brand.BrandName</td>
                <td><img src="@brand.LogoUrl" alt="@brand.BrandName Logo" style="width: 50px; height: 50px;" /></td>
                <td>
                    @if (!string.IsNullOrEmpty(brand.WebsiteUrl))
                    {
                        <a href="@brand.WebsiteUrl" target="_blank">@brand.WebsiteUrl</a>
                    }
                    else
                    {
                        <h3>No Website Provided</h3>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>