@model IEnumerable<BrandListViewModel>
@{
	ViewData["Title"] = "Моите вериги заведения";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
@if (!Model.Any())
{
	<h2 class="text-lg-center">Не сте създали верига все още!</h2>
	<p class="text-center">
		Създайте своята първа верига!
		<a asp-controller="Brand" asp-action="Add" class="btn btn-primary btn-sm m-1">Създай</a>
	</p>
}
else
{
    <ul class="list-group">
        @foreach (var brand in Model)
        {
            <li class="list-group-item d-flex align-items-center">
                
                <img class="bd-placeholder-img m-2 col-md-2" src="@brand.LogoUrl" alt="Лого">
                <h4 class="m-2 col-md-1">@brand.BrandName</h4>
                <a asp-controller="Brand" asp-action="Edit" asp-route-id="@brand.Id" class="btn btn-sm btn-warning m-2 col-md-2">Редактирай</a>
                <form method="post" class="m-2 col-md-2" asp-controller="Brand" asp-action="Delete">
                    <input type="hidden" name="id" value="@brand.Id">
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-sm btn-danger" style="width:100%">Изтрий</button>
                    </div>
                </form>
                <a asp-controller="Brand" asp-action="Details" asp-route-id="@brand.Id" class="btn btn-sm btn-info m-2 col-md-2">Повече подробности</a>
            </li>
        }
    </ul>
}